* {
    font-family: "Comic Sans MS";
}
body {
    background-color: salmon;
}

header {
    border:1px solid black;
    min-height:15vh;
}

.flex {
    display: flex;
    height: 60vh;
}

main {
    width:70%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing:15px;
}
h2 {
    font-size: 4em;
}

aside{
    background:yellow;
    width:30%;
}